<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/home}"
>
<section th:fragment="board" class="board">
    <h1>게시판</h1>

    <div class="board container">
        <ul class="board category">
            <li>전체 글 보기</li>
            <th:block th:each="CA : ${CATEGORY}">
                <li th:text="${CA.category}" th:class="${CA.ct_seq}"></li>
            </th:block>
        </ul>
        <div class="board main">
            <div class="board button">
                <button class="board button write">글쓰기</button>
            </div>

            <table class="board list">
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                </tr>
                <th:block th:each="BOARD : ${BOARDLIST}">
                    <tr th:class="${BOARD.b_seq}">
                        <td th:text="${BOARD.b_title}"></td>
                        <td th:text="${BOARD.b_writer}"></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</section>

<section th:fragment="write" class="board">
    <h1>게시판</h1>

    <div class="board write">
        <form method="POST" th:action="@{/board/write}">
            <div><label>제목</label><input placeholder="제목" name="b_title"/></div>
            <div><label>카테고리</label><input placeholder="카테고리" name="b_category"/></div>
            <div><label>작성자</label><input placeholder="작성자" name="b_writer"/></div>
            <div><label>작성 날짜</label><input placeholder="작성 날짜" name="b_date" type="date"/></div>
            <div><label>내용</label><textarea placeholder="내용" name="b_text"></textarea></div>
            <div>
                <button type="submit">글 등록</button>
                <button type="button">뒤로가기</button>
            </div>
        </form>
    </div>
</section>


<section th:fragment="detail" class="detail">
    <h1>Detail</h1>

    <div class="board detail">
        <div><label>제목</label><span th:text="${BOARD.b_title}"></span></div>
        <div><label>작성자</label><span th:text="${BOARD.b_writer}"></span></div>
        <div><label>카테고리</label><span th:text="${BOARD.b_category}"></span></div>
        <div><label>글 내용</label><span th:text="${BOARD.b_text}"></span></div>
    </div>
</section>
</html>