div.board.container {
    width: 100%;
    height: 630px;
    display: flex;
    margin: 25px 0 20px 0;

}

div.board.main {
    flex: 5;
    height: 100%;

}

ul.board.category {
    background-color: #eee;
    list-style: none;
    flex: 1;
    height: 100%;
    padding: 8px;
}

ul.board.category li {
    height: 35px;
    text-align: center;
    padding: 5px;
}

ul.board.category li:hover {
    cursor: pointer;
    color: darkslategray;
}

table.board.list {
    width: 100%;
    padding: 10px;
    margin: 10px auto;

}

table.board.list tr {
    text-align: center;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 10px;
}

table.board.list tr.table.header {
    background-color: #a9cba9;
    color: antiquewhite;
}

table.board.list tr:hover {
    background-color: #aaaaaa;
    cursor: pointer;
}

table.board.list tr td:first-child,
table.board.list tr th:first-child {
    flex: 2;
    border-right: 1px solid black;
}

table.board.list tr td:last-child,
table.board.list tr th:last-child {
    flex: 1;
    /*background-color: green;*/
}

table.board.list tr:nth-of-type(odd) {
    background-color: #ddd;
}

table.board.list tr:nth-of-type(even) {
    background-color: #eee;
}

table.board.list tr:hover {
    background-color: #aaa;
}

div.board.button {
    width: 100%;
}

button.board.button.write {
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    padding: 10px 10px;
}

div.board.write {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

div.board.detail {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

div.board.input {
    width: 100%;
    margin: 5px;
    display: flex;
}

div.board.input label {
    flex: 0.5;
    text-align: right;
    margin-right: 5px;
}

div.board.input input,
div.board.input textarea {
    padding: 4px;
    flex: 3;
    resize: none;
}

div.board.input.button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

div.board.input.button button {
    padding: 6px 8px;
    border: none;
    margin-left: 5px;
    border-radius: 4px;
    background-color: #eee;
}

div.board.input.button button:hover {
    background-color: #ddd;
    cursor: pointer;
}