div.portfolio_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.portfolio_list div a {
    width: 30%;
    margin-top: 2rem;
    margin-right: 2rem;
    color: black;
}

div.portfolio_list div img {
    width: 100%;
}

div.project {
    width: 100%;
    display: flex;
    align-items: center;
}

div.notice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.notice ul {
    list-style: none;
}